# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.log
*.env
.env*

# Virtual environments
venv/
ENV/
.env/


# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/

# Static/Generated


# Misc
*.bak
*.swp
*.tmp

